.main {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  border: 1px black solid;
}

.pile {
  width: 200px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  border: 1px grey solid;
}

.pile-text {
  margin: 10px;
  margin-top: -85px;
  z-index: 0;
  display: block;
}

.pile-image {
  transition: 1s ease-in-out;
  position: relative;
  z-index: 1;
}

.pile:hover > .pile-image {
  transform: translateY(-50%);
}

.pile-more {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.pile-more {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
}

.pile-more:hover {
  background-color: rgb(249, 250, 251);
}

.pile-mor:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.pile-more:focus-visible {
  box-shadow: none;
}
